<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.IITAdmin"
        tools:targetApi="31">
        <activity
            android:name=".teacher.deleteTeacher"
            android:exported="false" />
        <activity
            android:name=".students.deleteStudent"
            android:exported="false" />
        <activity
            android:name=".students.allAttendance.allStudentsAttendance"
            android:exported="false" />
        <activity
            android:name=".students.seeAllRecordsStudent"
            android:exported="false" />
        <activity
            android:name=".aboutAPP"
            android:exported="false" />
        <activity
            android:name=".teacher.checkSingleTeacherAttendance"
            android:exported="false" />
        <activity
            android:name=".teacher.teacherAttendance"
            android:exported="false" />
        <activity
            android:name=".teacher.editRecord"
            android:exported="false" />
        <activity
            android:name=".teacher.checkSpecificRecord"
            android:exported="false" />
        <activity
            android:name=".teacher.checkSpecificTeacher"
            android:exported="false" />
        <activity
            android:name=".teacher.addTeacher"
            android:exported="false" />
        <activity
            android:name=".students.checkSingleAttendance"
            android:exported="false" />
        <activity
            android:name=".students.updateRecords"
            android:exported="false" />
        <activity
            android:name=".students.attendanceHome"
            android:exported="false" />
        <activity
            android:name=".students.checkRecords1"
            android:exported="false" />
        <activity
            android:name=".students.checkRecords"
            android:exported="false" />
        <activity
            android:name=".students.addStudent"
            android:exported="false" />
        <activity
            android:name=".teacher.teachersMain"
            android:exported="false" />
        <activity
            android:name=".students.studentsMain"
            android:exported="false" />
        <activity
            android:name=".Home"
            android:exported="false" />
        <activity
            android:name=".Login"
            android:exported="false" />
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>